body {
    background-color:floralwhite;
}
header > img {
    width: 100px;
    float: left;
}
header > nav {
    float: right;
}
header {
    display: inline-block;
    width:800px;
    margin-left: calc((100% - 800px) / 2);
    margin-top: 40px;

    
}
header > nav > a {
   color: #3F4371; 
   font-size: 18px;
   text-decoration: none;
   font-family: Tahoma;
   margin-left: 50px;

}
nav > a:first-child {
margin-left: 0;
}
nav {
    float: right;
}
main{
    display: inline-block;
    width:800px;
    margin-left: calc((100% - 800px) / 2);
    margin-top: 40px;
    
}
main > img {
    width: 60%;
    float: right;
}
main > div {
    width: 35%;
    float: left;
}
